*{
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
}
.home-page{
  background-color: rgb(203, 208, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}